body {
    margin: 0;
    padding: 0;
}

.centralizer {
    margin-left: 300px;
    width: calc(100vw - 300px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centralizer > #play-screen {
    margin: 0 auto;
    border: 1px solid #000000;
}

.menu {
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: #F0F0F0;
    border-right: 1px solid #DDDDDD;
    padding: 6px;
    box-sizing: border-box;
}

.menu > fieldset {
    border: 2px solid #DDDDDD;
}

.menu .menu-row {
    margin-top: 6px;
}

.menu .menu-row:after {
    content: '';
    display: block;
    clear: both;
}

button {
    border-radius: 0;
    border-style: none;
    padding: 4px 8px;
}

button:active {
    color: #4CAF50;
}

button:focus {
    outline: none;
}

input[type="text"] {
    border-radius: 0;
    border-style: none;
    padding: 4px 8px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #DDDDDD;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.menu-colorpicker-block {
    margin: 0 -8px;
    padding: 5px;
    text-align: center;
    border: 2px solid #DDDDDD;
}

.c12 {
    float: left;
    width: 100%;
}

.c8 {
    float: left;
    width: calc(66.6666666% - 4px);
    margin-left: 2px;
    margin-right: 2px;
}

.c6 {
    float: left;
    width: calc(50% - 4px);
    margin-left: 2px;
    margin-right: 2px;
}

.c4 {
    float: left;
    width: calc(33.3333333% - 4px);
    margin-left: 2px;
    margin-right: 2px;
}